<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Game of Thrones</h1> 
    <table>
        <thead>
            <th>Name</th>
            <th>House</th>
            <th>Sigil</th>
        </thead>
        <tbody> 
            {% for character in all_characters %}
            <tr>
                <td>{{character['name']}}</td>
                <td>{{character['house_name']}}</td>
                <td>{{character['sigil']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/characters/new">Add Character</a>
</body>
</html>